<!DOCTYPE html>
<html ng-app="lib">
    <title></title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
    <link rel="stylesheet" href="/static/stylesheets/testStyle3.css" />
    <link rel="stylesheet" href="/static/app/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div ui-view></div>
    <!-- Javascript libraries and frameworks -->
    <script src="/static/app/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/app/bower_components/angular/angular.min.js"></script>
    <script src="/static/app/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/static/app/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/static/app/js/app.js"></script>
    <script src="/static/app/js/controllers.js"></script>
    <script src="/static/app/js/services.js"></script>
  </body>
</html>
