<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <h3 style="text-align: center;" >Login</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <input type="text" placeholder="Username" ng-model="username" class="form-control">
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <input type="password" placeholder="Password" ng-model="password" class="form-control">
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <input type="button" class="button" style="display: block; margin: auto;" ng-click="login()" value="{{loginButton}}">
        </div>
        <div class="col-md-4"></div>
    </div>
</div>